@use '/src/styles/constants/colors';
@use '/src/styles/mixins/flexbox';

.page {
  height: 100vh;
  background-color: colors.$BACKGOUND;
  background-image: linear-gradient(315deg, #eec0c6 0%, #7ee8fa 74%);
  @include flexbox.flexbox(center, center);

  .container {
    display: flex;
    flex-direction: row;
    width: 60%;
    height: 70%;
    background-color: rgba(255, 254, 254, 50%);
    border-radius: 40px;

    .aside {
      @include flexbox.flexbox(center, center);
      flex-direction: column;
      width: 50%;
      height: 100%;
      background-color: #7190d7;
      border-radius: 40px 0 0 40px;

      h1 {
        font-size: 32px;
        font-weight: 500;
        color: colors.$WHITE;
      }

      p {
        margin-top: 15px;
        font-size: 18px;
        font-weight: 500;
        color: colors.$WHITE;
      }

      .subTitle {
        font-size: 12px;
      }
    }
  }

  .right {
    @include flexbox.flexbox(center, center);
    position: relative;
    width: 50%;
    padding: 20px;

    .infoIcon {
      position: absolute;
      top: 0;
      right: 0;
      margin: 20px 20px 0 0;
      cursor: pointer;
    }

    form {
      flex-direction: column;
      width: 80%;
      margin-top: 20px;
      @include flexbox.flexbox(0, end);

      .idBox {
        @include flexbox.flexbox(center, center);
        justify-content: space-between;
        width: 100%;
        height: 60px;
        padding: 0 20px;
        background-color: white;
        border-radius: 20px;
      }

      .passwordBox {
        justify-content: space-between;
        width: 100%;
        height: 60px;
        padding: 0 20px;
        margin-top: 10px;
        @include flexbox.flexbox(center, center);
        background-color: white;
        border-radius: 20px;
      }

      input {
        width: 100%;
      }

      .errorMessage {
        margin-top: 10px;
        font-size: 16px;
        color: colors.$RED;
      }

      button {
        width: 70px;
        height: 30px;
        margin-top: 10px;
        background-color: white;
      }
    }
  }
}
