// Grayscale
$WHITE: #ffffff;
$BLACK: #000000;
$GRAY2: #222222;
$GRAY3: #333333;
$GRAY6: #666666;
$GRAYA: #aaaaaa;
$GRAYD: #dddddd;
$GRAYE: #eeeeee;

// Chromatic
$RED: #ff3b30;
$ORANGE: #ff9500;
$YELLOW: #ffcc00;
$GREEN: #34c759;
$TEAL: #5ac8fa;
$BLUE: #007aff;
$INDIGO: #5856d6;
$PURPLE: #af52de;
$PINK: #ff2d55;

$CONTAINER: #d7e5ec;
$BODER: #b5ccda;
$DARKBACKGOUND: #26282b;
$BACKGOUND: #eec0c6;

// naver
$GREEN1: #00d686;
$GREEN2: #1cd991;
$GREEN3: #34dc9c;
$GREEN4: #4cdfa7;
$GREEN5: #65e2b2;
$GREEN6: #7fe5be;
$GREEN7: #96eaca;
$GREEN8: #aeecd4;
$GREEN9: #c6f0e0;
$GREEN10: #def2ea;

// naverDark
$BLACK1: #181818;
$BLACK2: #313131;
$BLACK3: #494949;
$BLACK4: #626262;
$BLACK5: #beb3b3;
$BLACK6: #949494;
$BLACK7: #acacac;
$BLACK8: #c5c5c5;
$BLACK9: #dddddd;

// naverItem
$NAVER_INPUT_BACKGORUD: #f9fafb;
$NAVER_ICON_BACKGORUD: #d1d7e5;
