@use '/src/styles/mixins/flexbox';
@use '/src/styles/constants/colors';

.container {
  @include flexbox.flexbox(center, flex-start);
  flex-direction: column;
  height: 100%;

  .btnBox {
    display: flex;
    flex-direction: row;
  }

  .mapBox {
    display: flex;
    flex-direction: row;
    height: 100%;

    .mapWrapper {
      width: 100%;
      height: 100%;
    }

    .mapResize {
      width: 50%;
    }

    .roadView {
      width: 50%;
      height: 100%;
    }
  }
}
