@use '/src/styles/mixins/flexbox';
@use '/src/styles/constants/colors';

.container {
  @include flexbox.flexbox(center, flex-start);
  flex-direction: column;
  height: 100%;

  .btnBox {
    display: flex;
    flex-direction: row;

    button {
      display: inline-block;
      padding: 5px;
      margin-right: 5px;
      font-weight: 500;
      color: colors.$GRAY2;
      background-color: colors.$BODER;
    }
  }

  .mapBox {
    display: flex;
    flex-direction: row;
    height: 100%;

    .mapWrapper {
      width: 100%;
    }

    .mapResize {
      width: 50%;
    }

    .roadView {
      position: relative;
      width: 50%;
    }
  }
}
