@use '/src/styles/mixins/flexbox';
@use '/src/styles/constants/colors';

.container {
  @include flexbox.flexbox(center, center);
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: #eec0c6;
  background-image: linear-gradient(315deg, #eec0c6 0%, #7ee8fa 74%);

  h1 {
    font-size: 46px;
    font-weight: 600;
    color: colors.$WHITE;
  }

  p {
    font-size: 24px;
    font-weight: 500;
    color: colors.$WHITE;
  }
}
